<!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">PETSHOP</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/admin">
            <img src="../../../assets/img/icono/dashb.png" class="img">
            <p class="text">Panel</p>
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/admin/alta-producto">
            <img src="../../../assets/img/icono/mas.png" class="img">
            <p class="text">Agregar Productos</p>
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
            <img src="../../../assets/img/icono/eliminar.png"  class="img">
            <p class="text">Eliminar Productos</p>
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
            <img src="../../../assets/img/icono/nuevo-usuario.png" class="img">
            <p class="text">Agregar Usuario Empleado</p>
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
            <img src="../../../assets/img/icono/vista.png" class="img">
            <p class="text">Ver Usuarios</p>
        </a>
    </div>
</div>