<!-- MENU  -->

<div class="menu">
    <div class="dropdown">
        <button class="dropbtn">ACCESORIOS
                <i class="fa fa-caret-down"></i>
              </button>
        <div class="dropdown-content">
            <a routerLink="/accesorios-perro">Perro</a>
            <a routerLink="/accesorios-gato">Gato</a>
        </div>
    </div>


    <div class="dropdown">
        <button class=" dropbtn ">NUTRICIÓN
                <i class="fa fa-caret-down "></i>
              </button>
        <div class="dropdown-content ">
            <a routerLink="/fulltrust">Fulltrust</a>
            <a routerLink="/nupec">Nupec</a>
        </div>
    </div>

    <div class="menu2 ">
        <a routerLink="/iniciar-sesion">INICIAR SESIÓN</a>
        <a routerLink="/carrito-compra"><img src="../../../assets/img/icono/carrito-de-compras.png " alt=" "></a>
    </div>
</div>