section {
  background-color: #008c9e;
  width: 100%;
  margin-top: 50px;

  @media (min-width: 1023px) {
    padding: 35px 100px;
  }

  @media (min-width: 768.1px) and (max-width: 1022.9px) {
    padding: 35px 50px;
  }

  @media (max-width: 768px) {
    padding: 35px 20px;
  }
}

.pie-pagina {
  color: beige;
  font-size: 18px;
  font-family: Puritan, sans-serif;
  padding-bottom: 6px;
}

.p2 {
  padding-top: 3px;
}
