<div class="banner1">
    <img src="../../../assets/img/NUPEC/Nutrimos.jpg" alt="">
</div>

<ng-container *ngFor="let renglon of listaRenglones">
    <div class="flex">
        <ng-container *ngFor="let producto of renglon">
            <div class="card">
                <img [src]="getImagenProducto(producto)" style="width:90%" class="img">
                <p class="price">$ {{getPrecio(producto)}}</p>
                <p class="text"> {{producto.nombre}} </p>
                <p><button><img [src]="btnAgregar"   alt=""></button></p>
            </div>
        </ng-container>
    </div>
</ng-container>