<div class="banner1">
    <img src="../../../assets/img/NUPEC/Nutrimos.jpg" alt="">
</div>

<div class="flex">
    <div class="card">
        <img src="../../../assets/img/NUPEC/img_saco_indoorNUPEC.png" style="width:90%" class="img">
        <p class="price">$125.00</p>
        <p class="text">Nupec - Gato Adulto 1.5 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png"   alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/img_saco_indoorNUPEC.png" style="width:90%" class="img">
        <p class="price">$125.00</p>
        <p class="text">Nupec - Gato Adulto 3 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/img_saco_kittenNUPEC.png" style="width:90%" class="img">
        <p class="price">$175.00</p>
        <p class="text">Nupec - Gato Kitten 1.5 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/img_saco_kittenNUPEC.png" style="width:90%" class="img">
        <p class="price">$175.00</p>
        <p class="text">Nupec - Gato Kitten 3 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>
</div>

<div class="flex">
    <div class="card">
        <img src="../../../assets/img/NUPEC/NUPEC - ADULTO.png" style="width:80%" class="img">
        <p class="price">$228.00</p>
        <p class="text">Nupec - Perro Adulto 2 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/NUPEC - ADULTO.png" style="width:80%" class="img">
        <p class="price">$537.00</p>
        <p class="text">Nupec - Perro Adulto 5 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/NUPEC - ADULTO.png" style="width:80%" class="img">
        <p class="price">$825.00</p>
        <p class="text">Nupec - Perro Adulto 8 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/NUPEC - ADULTO.png" style="width:80%" class="img">
        <p class="price">$1370.00</p>
        <p class="text">Nupec - Perro Adulto 15 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>
</div>

<div class="flex">
    <div class="card">
        <img src="../../../assets/img/NUPEC/npc-empaque-cachorro.png" style="width:80%" class="img">

        <p class="price">$264.00</p>

        <p class="text">Nupec - Perro Cachorro 2 kg.</p>

        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/npc-empaque-cachorro.png" style="width:80%" class="img">
        <p class="price">$583.00</p>
        <p class="text">Nupec - Perro Cachorro 5 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/npc-empaque-cachorro.png" style="width:80%" class="img">
        <p class="price">$882.00</p>
        <p class="text">Nupec - Perro Cachorro 8 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/npc-empaque-cachorro.png" style="width:80%" class="img">
        <p class="price">$1590.00</p>
        <p class="text">Nupec - Perro Cachorro 15 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>
</div>

<div class="flex">
    <div class="card">
        <img src="../../../assets/img/NUPEC/NUPEC - Cachorro RP.png" style="width:80%" class="img">
        <p class="price">$318.00</p>
        <p class="text">Nupec - Perro Cachorro RP 2 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/NUPEC - Cachorro RP.png" style="width:80%" class="img">
        <p class="price">$1088.00</p>
        <p class="text">Nupec - Perro Cachorro RP 8 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/NUPEC - Adulto RP.png" style="width:80%" class="img">
        <p class="price">$276.00</p>
        <p class="text">Nupec - Perro Adulto RP 2 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/NUPEC - Adulto RP.png" style="width:80%" class="img">
        <p class="price">$943.00</p>
        <p class="text">Nupec - Perro Adulto RP 8 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>
</div>

<div class="flex">
    <div class="card">
        <img src="../../../assets/img/NUPEC/NUPEC - Senior.png" style="width:80%" class="img">
        <p class="price">$359.00</p>
        <p class="text">Nupec - Perro Senior 2 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/NUPEC - Senior.png" style="width:80%" class="img">
        <p class="price">$1165.00</p>
        <p class="text">Nupec - Perro Senior 8 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/NUPEC - Senior RP.png" style="width:80%" class="img">
        <p class="price">$372.00</p>
        <p class="text">Nupec - Perro Senior RP 2 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/NUPEC - Senior RP.png" style="width:80%" class="img">
        <p class="price">$1219.00</p>
        <p class="text">Nupec - Perro Senior RP 8 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>
</div>

<div class="flex">
    <div class="card">
        <img src="../../../assets/img/NUPEC/Nupec - hairball control.png" style="width:90%" class="img">
        <p class="price">$228.00</p>
        <p class="text">Nupec - Gato Hairball Control 1.5 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/Nupec - hairball control.png" style="width:90%" class="img">
        <p class="price">$450.00</p>
        <p class="text">Nupec - Gato Hairball Control 3 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/NUPEC - Senior Gato.png" style="width:90%" class="img">
        <p class="price">$244.00</p>
        <p class="text">Nupec - Gato Senior 1.5 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>

    <div class="card">
        <img src="../../../assets/img/NUPEC/NUPEC - Senior Gato.png" style="width:90%" class="img">
        <p class="price">$484.00</p>
        <p class="text">Nupec - Gato Senior 3 kg.</p>
        <p><button><img src="../../../assets/img/icono/boton-agregar.png" alt=""></button></p>
    </div>
</div>