<div class="flex">
    <div class="card">
        <a routerLink="/alta-producto">
            <button><img [src]="btnMas" style="width:100%" class="img"></button>
        </a>
        <p class="text">Agregar Productos</p>
    </div>

    <div class="card">
        <button><img [src]="btnEliminar" style="width:100%" class="img"></button>
        <p class="text">Eliminar Productos</p>
    </div>

    <div class="card">
        <button><img [src]="btnNuevoUsuario" style="width:100%" class="img"></button>
        <p class="text">Agregar Usuario Empleado</p>
    </div>

    <div class="card">
        <button><img [src]="btnVista" style="width:100%" class="img"></button>
        <p class="text">Ver Usuarios</p>
    </div>
</div>