<div class="flex">
    <div class="card">
        <a routerLink="/alta-producto">
            <button><img src="../../../assets/img/icono/mas.png" style="width:100%" class="img"></button>
        </a>
        <p class="text">Agregar Productos</p>
    </div>

    <div class="card">
        <button><img src="../../../assets/img/icono/eliminar.png" style="width:100%" class="img"></button>
        <p class="text">Eliminar Productos</p>
    </div>

    <div class="card">
        <button><img src="../../../assets/img/icono/nuevo-usuario.png" style="width:100%" class="img"></button>
        <p class="text">Agregar Usuario Empleado</p>
    </div>

    <div class="card">
        <button><img src="../../../assets/img/icono/vista.png" style="width:100%" class="img"></button>
        <p class="text">Ver Usuarios</p>
    </div>
</div>