<!-- <div class="dashboard">
    <h3>Productos Top</h3>
    <div class="grid grid-pad">
    <a *ngFor="let producto of productos" class="col-1-4"  routerLink="/detalle/{{producto.id}}">
        <div class="modulo producto">
            <h4>{{producto.nombre}}</h4>
        </div>
    </a>
    </div>
</div> -->

<div class="flex">
    <div class="card">
        <a routerLink="/admin/alta-producto">
            <button><img src="../../../assets/img/icono/mas.png" style="width:100%" class="img"></button>
        </a>
        <p class="text">Agregar Productos</p>
    </div>

    <div class="card">
        <button><img src="../../../assets/img/icono/eliminar.png" style="width:100%" class="img"></button>
        <p class="text">Eliminar Productos</p>
    </div>

    <div class="card">
        <button><img src="../../../assets/img/icono/nuevo-usuario.png" style="width:100%" class="img"></button>
        <p class="text">Agregar Usuario Empleado</p>
    </div>

    <div class="card">
        <button><img src="../../../assets/img/icono/vista.png" style="width:100%" class="img"></button>
        <p class="text">Ver Usuarios</p>
    </div>
</div>