<div class="flex">
    <div class="card">
        <img src="../../../assets/img/JUGUETES PERRO/Peluche perro.png" class="img">
        <div class="card2">
            <p class="price">$250</p>
            <p class="text">Kong peluche oso con estructura de cuerda.</p>
            <p><button><img src="../../../assets/img/icono/boton-agregar.png"   alt=""></button></p>
        </div>
    </div>

    <div class="card">
        <img src="../../../assets/img/JUGUETES PERRO/Peluche perro.png" class="img">
        <div class="card2">
            <p class="price">$250</p>
            <p class="text">Kong peluche oso con estructura de cuerda.</p>
            <p><button><img src="../../../assets/img/icono/boton-agregar.png"   alt=""></button></p>
        </div>
    </div>


</div>